.pull-left {
    -webkit-animation: pull-left 1000ms linear both;
    animation: pull-left 1000ms linear both;
}

.pull-right {
    -webkit-animation: pull-right 1000ms linear both;
    animation: pull-right 1000ms linear both;
}

.pull-up {
    -webkit-animation: pull-up 1000ms linear both;
    animation: pull-up 1000ms linear both;
}

.pull-down {
    -webkit-animation: pull-down 1000ms linear both;
    animation: pull-down 1000ms linear both;
}

@-webkit-keyframes pull-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    4.761905% {
        -webkit-transform: translateX(86.86645px);
        transform: translateX(86.86645px);
    }
    9.52381% {
        -webkit-transform: translateX(98.2751px);
        transform: translateX(98.2751px);
    }
    14.285714% {
        -webkit-transform: translateX(99.77346px);
        transform: translateX(99.77346px);
    }
    19.047619% {
        -webkit-transform: translateX(99.97025px);
        transform: translateX(99.97025px);
    }
    23.809524% {
        -webkit-transform: translateX(99.99609px);
        transform: translateX(99.99609px);
    }
    28.571429% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    33.333333% {
        -webkit-transform: translateX(40.31516px);
        transform: translateX(40.31516px);
    }
    38.095238% {
        -webkit-transform: translateX(-3.79446px);
        transform: translateX(-3.79446px);
    }
    42.857143% {
        -webkit-transform: translateX(-17.69416px);
        transform: translateX(-17.69416px);
    }
    47.619048% {
        -webkit-transform: translateX(-12.88945px);
        transform: translateX(-12.88945px);
    }
    52.380952% {
        -webkit-transform: translateX(-3.9697px);
        transform: translateX(-3.9697px);
    }
    57.142857% {
        -webkit-transform: translateX(1.47818px);
        transform: translateX(1.47818px);
    }
    61.904762% {
        -webkit-transform: translateX(2.63289px);
        transform: translateX(2.63289px);
    }
    66.666667% {
        -webkit-transform: translateX(1.58632px);
        transform: translateX(1.58632px);
    }
    71.428571% {
        -webkit-transform: translateX(0.3233px);
        transform: translateX(0.3233px);
    }
    76.190476% {
        -webkit-transform: translateX(-0.31517px);
        transform: translateX(-0.31517px);
    }
    80.952381% {
        -webkit-transform: translateX(-0.37148px);
        transform: translateX(-0.37148px);
    }
    85.714286% {
        -webkit-transform: translateX(-0.18512px);
        transform: translateX(-0.18512px);
    }
    90.47619% {
        -webkit-transform: translateX(-0.01441px);
        transform: translateX(-0.01441px);
    }
    95.238095% {
        -webkit-transform: translateX(0.05558px);
        transform: translateX(0.05558px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes pull-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    4.761905% {
        -webkit-transform: translateX(86.86645px);
        transform: translateX(86.86645px);
    }
    9.52381% {
        -webkit-transform: translateX(98.2751px);
        transform: translateX(98.2751px);
    }
    14.285714% {
        -webkit-transform: translateX(99.77346px);
        transform: translateX(99.77346px);
    }
    19.047619% {
        -webkit-transform: translateX(99.97025px);
        transform: translateX(99.97025px);
    }
    23.809524% {
        -webkit-transform: translateX(99.99609px);
        transform: translateX(99.99609px);
    }
    28.571429% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    33.333333% {
        -webkit-transform: translateX(40.31516px);
        transform: translateX(40.31516px);
    }
    38.095238% {
        -webkit-transform: translateX(-3.79446px);
        transform: translateX(-3.79446px);
    }
    42.857143% {
        -webkit-transform: translateX(-17.69416px);
        transform: translateX(-17.69416px);
    }
    47.619048% {
        -webkit-transform: translateX(-12.88945px);
        transform: translateX(-12.88945px);
    }
    52.380952% {
        -webkit-transform: translateX(-3.9697px);
        transform: translateX(-3.9697px);
    }
    57.142857% {
        -webkit-transform: translateX(1.47818px);
        transform: translateX(1.47818px);
    }
    61.904762% {
        -webkit-transform: translateX(2.63289px);
        transform: translateX(2.63289px);
    }
    66.666667% {
        -webkit-transform: translateX(1.58632px);
        transform: translateX(1.58632px);
    }
    71.428571% {
        -webkit-transform: translateX(0.3233px);
        transform: translateX(0.3233px);
    }
    76.190476% {
        -webkit-transform: translateX(-0.31517px);
        transform: translateX(-0.31517px);
    }
    80.952381% {
        -webkit-transform: translateX(-0.37148px);
        transform: translateX(-0.37148px);
    }
    85.714286% {
        -webkit-transform: translateX(-0.18512px);
        transform: translateX(-0.18512px);
    }
    90.47619% {
        -webkit-transform: translateX(-0.01441px);
        transform: translateX(-0.01441px);
    }
    95.238095% {
        -webkit-transform: translateX(0.05558px);
        transform: translateX(0.05558px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes pull-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    4.761905% {
        -webkit-transform: translateX(-86.86645px);
        transform: translateX(-86.86645px);
    }
    9.52381% {
        -webkit-transform: translateX(-98.2751px);
        transform: translateX(-98.2751px);
    }
    14.285714% {
        -webkit-transform: translateX(-99.77346px);
        transform: translateX(-99.77346px);
    }
    19.047619% {
        -webkit-transform: translateX(-99.97025px);
        transform: translateX(-99.97025px);
    }
    23.809524% {
        -webkit-transform: translateX(-99.99609px);
        transform: translateX(-99.99609px);
    }
    28.571429% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    33.333333% {
        -webkit-transform: translateX(-40.31516px);
        transform: translateX(-40.31516px);
    }
    38.095238% {
        -webkit-transform: translateX(3.79446px);
        transform: translateX(3.79446px);
    }
    42.857143% {
        -webkit-transform: translateX(17.69416px);
        transform: translateX(17.69416px);
    }
    47.619048% {
        -webkit-transform: translateX(12.88945px);
        transform: translateX(12.88945px);
    }
    52.380952% {
        -webkit-transform: translateX(3.9697px);
        transform: translateX(3.9697px);
    }
    57.142857% {
        -webkit-transform: translateX(-1.47818px);
        transform: translateX(-1.47818px);
    }
    61.904762% {
        -webkit-transform: translateX(-2.63289px);
        transform: translateX(-2.63289px);
    }
    66.666667% {
        -webkit-transform: translateX(-1.58632px);
        transform: translateX(-1.58632px);
    }
    71.428571% {
        -webkit-transform: translateX(-0.3233px);
        transform: translateX(-0.3233px);
    }
    76.190476% {
        -webkit-transform: translateX(0.31517px);
        transform: translateX(0.31517px);
    }
    80.952381% {
        -webkit-transform: translateX(0.37148px);
        transform: translateX(0.37148px);
    }
    85.714286% {
        -webkit-transform: translateX(0.18512px);
        transform: translateX(0.18512px);
    }
    90.47619% {
        -webkit-transform: translateX(0.01441px);
        transform: translateX(0.01441px);
    }
    95.238095% {
        -webkit-transform: translateX(-0.05558px);
        transform: translateX(-0.05558px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes pull-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    4.761905% {
        -webkit-transform: translateX(-86.86645px);
        transform: translateX(-86.86645px);
    }
    9.52381% {
        -webkit-transform: translateX(-98.2751px);
        transform: translateX(-98.2751px);
    }
    14.285714% {
        -webkit-transform: translateX(-99.77346px);
        transform: translateX(-99.77346px);
    }
    19.047619% {
        -webkit-transform: translateX(-99.97025px);
        transform: translateX(-99.97025px);
    }
    23.809524% {
        -webkit-transform: translateX(-99.99609px);
        transform: translateX(-99.99609px);
    }
    28.571429% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    33.333333% {
        -webkit-transform: translateX(-40.31516px);
        transform: translateX(-40.31516px);
    }
    38.095238% {
        -webkit-transform: translateX(3.79446px);
        transform: translateX(3.79446px);
    }
    42.857143% {
        -webkit-transform: translateX(17.69416px);
        transform: translateX(17.69416px);
    }
    47.619048% {
        -webkit-transform: translateX(12.88945px);
        transform: translateX(12.88945px);
    }
    52.380952% {
        -webkit-transform: translateX(3.9697px);
        transform: translateX(3.9697px);
    }
    57.142857% {
        -webkit-transform: translateX(-1.47818px);
        transform: translateX(-1.47818px);
    }
    61.904762% {
        -webkit-transform: translateX(-2.63289px);
        transform: translateX(-2.63289px);
    }
    66.666667% {
        -webkit-transform: translateX(-1.58632px);
        transform: translateX(-1.58632px);
    }
    71.428571% {
        -webkit-transform: translateX(-0.3233px);
        transform: translateX(-0.3233px);
    }
    76.190476% {
        -webkit-transform: translateX(0.31517px);
        transform: translateX(0.31517px);
    }
    80.952381% {
        -webkit-transform: translateX(0.37148px);
        transform: translateX(0.37148px);
    }
    85.714286% {
        -webkit-transform: translateX(0.18512px);
        transform: translateX(0.18512px);
    }
    90.47619% {
        -webkit-transform: translateX(0.01441px);
        transform: translateX(0.01441px);
    }
    95.238095% {
        -webkit-transform: translateX(-0.05558px);
        transform: translateX(-0.05558px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes pull-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    4.761905% {
        -webkit-transform: translateY(86.86645px);
        transform: translateY(86.86645px);
    }
    9.52381% {
        -webkit-transform: translateY(98.2751px);
        transform: translateY(98.2751px);
    }
    14.285714% {
        -webkit-transform: translateY(99.77346px);
        transform: translateY(99.77346px);
    }
    19.047619% {
        -webkit-transform: translateY(99.97025px);
        transform: translateY(99.97025px);
    }
    23.809524% {
        -webkit-transform: translateY(99.99609px);
        transform: translateY(99.99609px);
    }
    28.571429% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    33.333333% {
        -webkit-transform: translateY(40.31516px);
        transform: translateY(40.31516px);
    }
    38.095238% {
        -webkit-transform: translateY(-3.79446px);
        transform: translateY(-3.79446px);
    }
    42.857143% {
        -webkit-transform: translateY(-17.69416px);
        transform: translateY(-17.69416px);
    }
    47.619048% {
        -webkit-transform: translateY(-12.88945px);
        transform: translateY(-12.88945px);
    }
    52.380952% {
        -webkit-transform: translateY(-3.9697px);
        transform: translateY(-3.9697px);
    }
    57.142857% {
        -webkit-transform: translateY(1.47818px);
        transform: translateY(1.47818px);
    }
    61.904762% {
        -webkit-transform: translateY(2.63289px);
        transform: translateY(2.63289px);
    }
    66.666667% {
        -webkit-transform: translateY(1.58632px);
        transform: translateY(1.58632px);
    }
    71.428571% {
        -webkit-transform: translateY(0.3233px);
        transform: translateY(0.3233px);
    }
    76.190476% {
        -webkit-transform: translateY(-0.31517px);
        transform: translateY(-0.31517px);
    }
    80.952381% {
        -webkit-transform: translateY(-0.37148px);
        transform: translateY(-0.37148px);
    }
    85.714286% {
        -webkit-transform: translateY(-0.18512px);
        transform: translateY(-0.18512px);
    }
    90.47619% {
        -webkit-transform: translateY(-0.01441px);
        transform: translateY(-0.01441px);
    }
    95.238095% {
        -webkit-transform: translateY(0.05558px);
        transform: translateY(0.05558px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes pull-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    4.761905% {
        -webkit-transform: translateY(86.86645px);
        transform: translateY(86.86645px);
    }
    9.52381% {
        -webkit-transform: translateY(98.2751px);
        transform: translateY(98.2751px);
    }
    14.285714% {
        -webkit-transform: translateY(99.77346px);
        transform: translateY(99.77346px);
    }
    19.047619% {
        -webkit-transform: translateY(99.97025px);
        transform: translateY(99.97025px);
    }
    23.809524% {
        -webkit-transform: translateY(99.99609px);
        transform: translateY(99.99609px);
    }
    28.571429% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    33.333333% {
        -webkit-transform: translateY(40.31516px);
        transform: translateY(40.31516px);
    }
    38.095238% {
        -webkit-transform: translateY(-3.79446px);
        transform: translateY(-3.79446px);
    }
    42.857143% {
        -webkit-transform: translateY(-17.69416px);
        transform: translateY(-17.69416px);
    }
    47.619048% {
        -webkit-transform: translateY(-12.88945px);
        transform: translateY(-12.88945px);
    }
    52.380952% {
        -webkit-transform: translateY(-3.9697px);
        transform: translateY(-3.9697px);
    }
    57.142857% {
        -webkit-transform: translateY(1.47818px);
        transform: translateY(1.47818px);
    }
    61.904762% {
        -webkit-transform: translateY(2.63289px);
        transform: translateY(2.63289px);
    }
    66.666667% {
        -webkit-transform: translateY(1.58632px);
        transform: translateY(1.58632px);
    }
    71.428571% {
        -webkit-transform: translateY(0.3233px);
        transform: translateY(0.3233px);
    }
    76.190476% {
        -webkit-transform: translateY(-0.31517px);
        transform: translateY(-0.31517px);
    }
    80.952381% {
        -webkit-transform: translateY(-0.37148px);
        transform: translateY(-0.37148px);
    }
    85.714286% {
        -webkit-transform: translateY(-0.18512px);
        transform: translateY(-0.18512px);
    }
    90.47619% {
        -webkit-transform: translateY(-0.01441px);
        transform: translateY(-0.01441px);
    }
    95.238095% {
        -webkit-transform: translateY(0.05558px);
        transform: translateY(0.05558px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes pull-down {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    4.761905% {
        -webkit-transform: translateY(-86.86645px);
        transform: translateY(-86.86645px);
    }
    9.52381% {
        -webkit-transform: translateY(-98.2751px);
        transform: translateY(-98.2751px);
    }
    14.285714% {
        -webkit-transform: translateY(-99.77346px);
        transform: translateY(-99.77346px);
    }
    19.047619% {
        -webkit-transform: translateY(-99.97025px);
        transform: translateY(-99.97025px);
    }
    23.809524% {
        -webkit-transform: translateY(-99.99609px);
        transform: translateY(-99.99609px);
    }
    28.571429% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    33.333333% {
        -webkit-transform: translateY(-40.31516px);
        transform: translateY(-40.31516px);
    }
    38.095238% {
        -webkit-transform: translateY(3.79446px);
        transform: translateY(3.79446px);
    }
    42.857143% {
        -webkit-transform: translateY(17.69416px);
        transform: translateY(17.69416px);
    }
    47.619048% {
        -webkit-transform: translateY(12.88945px);
        transform: translateY(12.88945px);
    }
    52.380952% {
        -webkit-transform: translateY(3.9697px);
        transform: translateY(3.9697px);
    }
    57.142857% {
        -webkit-transform: translateY(-1.47818px);
        transform: translateY(-1.47818px);
    }
    61.904762% {
        -webkit-transform: translateY(-2.63289px);
        transform: translateY(-2.63289px);
    }
    66.666667% {
        -webkit-transform: translateY(-1.58632px);
        transform: translateY(-1.58632px);
    }
    71.428571% {
        -webkit-transform: translateY(-0.3233px);
        transform: translateY(-0.3233px);
    }
    76.190476% {
        -webkit-transform: translateY(0.31517px);
        transform: translateY(0.31517px);
    }
    80.952381% {
        -webkit-transform: translateY(0.37148px);
        transform: translateY(0.37148px);
    }
    85.714286% {
        -webkit-transform: translateY(0.18512px);
        transform: translateY(0.18512px);
    }
    90.47619% {
        -webkit-transform: translateY(0.01441px);
        transform: translateY(0.01441px);
    }
    95.238095% {
        -webkit-transform: translateY(-0.05558px);
        transform: translateY(-0.05558px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes pull-down {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    4.761905% {
        -webkit-transform: translateY(-86.86645px);
        transform: translateY(-86.86645px);
    }
    9.52381% {
        -webkit-transform: translateY(-98.2751px);
        transform: translateY(-98.2751px);
    }
    14.285714% {
        -webkit-transform: translateY(-99.77346px);
        transform: translateY(-99.77346px);
    }
    19.047619% {
        -webkit-transform: translateY(-99.97025px);
        transform: translateY(-99.97025px);
    }
    23.809524% {
        -webkit-transform: translateY(-99.99609px);
        transform: translateY(-99.99609px);
    }
    28.571429% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    33.333333% {
        -webkit-transform: translateY(-40.31516px);
        transform: translateY(-40.31516px);
    }
    38.095238% {
        -webkit-transform: translateY(3.79446px);
        transform: translateY(3.79446px);
    }
    42.857143% {
        -webkit-transform: translateY(17.69416px);
        transform: translateY(17.69416px);
    }
    47.619048% {
        -webkit-transform: translateY(12.88945px);
        transform: translateY(12.88945px);
    }
    52.380952% {
        -webkit-transform: translateY(3.9697px);
        transform: translateY(3.9697px);
    }
    57.142857% {
        -webkit-transform: translateY(-1.47818px);
        transform: translateY(-1.47818px);
    }
    61.904762% {
        -webkit-transform: translateY(-2.63289px);
        transform: translateY(-2.63289px);
    }
    66.666667% {
        -webkit-transform: translateY(-1.58632px);
        transform: translateY(-1.58632px);
    }
    71.428571% {
        -webkit-transform: translateY(-0.3233px);
        transform: translateY(-0.3233px);
    }
    76.190476% {
        -webkit-transform: translateY(0.31517px);
        transform: translateY(0.31517px);
    }
    80.952381% {
        -webkit-transform: translateY(0.37148px);
        transform: translateY(0.37148px);
    }
    85.714286% {
        -webkit-transform: translateY(0.18512px);
        transform: translateY(0.18512px);
    }
    90.47619% {
        -webkit-transform: translateY(0.01441px);
        transform: translateY(0.01441px);
    }
    95.238095% {
        -webkit-transform: translateY(-0.05558px);
        transform: translateY(-0.05558px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}